name: Deploy to EC2

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /opt/securedhub/SecuredHub
            git pull origin main
            
            cd scanner_worker
            docker build -f Dockerfile.k8s -t securedhub-scanner:latest .
            /usr/local/bin/aws ecr get-login-password --region ap-south-1 | docker login --username AWS --password-stdin 180667017068.dkr.ecr.ap-south-1.amazonaws.com
            docker tag securedhub-scanner:latest 180667017068.dkr.ecr.ap-south-1.amazonaws.com/securedhub-scanner:latest
            docker push 180667017068.dkr.ecr.ap-south-1.amazonaws.com/securedhub-scanner:latest
            
            cd ../infra
            docker compose up -d --build api
            docker exec secured_hub_api pip install kubernetes --quiet
